.body, .html {
  height: 100%;
}

.parallax {
  /* The image used */
  background: url(@asset('img/background.svg'));

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
